%link-reset {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	@include box-sizing(border-box);
}

%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}
#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span, .fbFeedbackContent {
width: 100% !important;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	/* Opacidad de fondo (con fallback): */
	/* background: rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); */
}

/**
/* ====================
/* Variables de colores
/* ====================
*/
$elGris: #636450;
$elVerde: #70B52E;
$elAmarillo: #feca17;
$elAzul: #2e4c8f;
$elAzulClaro: #3c91cf;
$elRojo: #dd3b30;