%link-reset {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	@include box-sizing(border-box);
}

%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

/**
/* ====================
/* Variables de colores
/* ====================
*/
$elGris: #636450;
$elVerde: #004d5a; /*para deportes*/
$elAmarillo: #004d5a; /*#feca17;*/
$elAzul: #2e4c8f;
$elAzulClaro: #19a39f; /*para deportes*/
$elRojo: #004d5a; /* #dd3b30;*/