.menu{
	.navhead { display: none; }
	.navegacion{ 
		display: inline;
		text-align: justify;
		font-size: 0.1px;
		&:after, &:before {
			content: '';
			width: 100%;
			display: inline;
		}
		.spacer {
			display: inline-block;
			width: 100%;
			padding: 1px 0;
		}
		li {
			border: none;
			display: inline;
			font-size: 14px;
		}
	}
}
.contenido{
	width: 98%;
	padding-top: 10px;
	.principal{}
	.principales{
		&.hlpr-mr, &.hlpr-mr-t {
			margin-right: 1.3%;
		}
		width: 32.4%;
	}
}
/* ==========================
	Componente de video
   ========================== */
.desk-home-video-component {
	display: block;
}
.home-video-component {
	display: none;
}
.infografias{
	.large{
		width: 48%;
		height: auto;

	}
	.medium{
		width: 48.5%;
		height: 150px;
	}
	.small{
		width: 23.5%;
		height: 150px;
	}
}
.lateral{
	width: 98%;
	float: left;
	margin-left: 1%;
	.complemento{/* Empty Style */}
	.widgets1, .widgets2, .widgets3 {
		width: 100%;
	}
	.widgets1{
		float: left;
		margin-bottom: 10px;
		.cuenta, .resultados {
			width: 49%;
		}
		.cuenta{
			&.hlpr-mr {
				margin-right: 2%;
			}
		}
		.resultados{
			margin: 0;
			.res-head{/* Empty Style */}
			.res-list{/* Empty Style */}
			.res-footer{/* Empty Style */}
		}
	}
	.widgets2{
		float: left;
		.twitter, .audios {
			width: 49%;
			margin-top: 0;
		}
		.twitter{
			&.hlpr-mr {
				margin-right: 2%;
			}
		}
		.audios{/* Empty Style */}
	}
	.widgets3{
		float: left;
		.foto{
			width: 49%;
			margin-right: 2%;
		}
		.aside-banner{
			width: 49%;
		}
	}
}

.pie{
	.hlpr-logo {
		display: inline-block;
	}
}